# Keys
.keys/

# Database file
data.db

# Python bytecode
__pycache__/
.pyc

# PyCharm files
.idea/

# Migrations
pita/migrations/

# Media files
media/

# Compiled CSS files
*.css
*.css.map

# Development mode
development

# Logs
logs/
