# Keys
.keys/

# Database file
data.db

# Python bytecode
__pycache__/
.pyc

# Utilities
*.bat

# PyCharm files
.idea/

# Migrations
pita/migrations/

# Media files
media/

# Compiled CSS files
*.css
*.css.map
