# Sensitive data
data.db
keys/
logs/

# Python bytecode
__pycache__/
.pyc

# PyCharm files
.idea/

# Migrations
pita/migrations/

# Media files
media/

# Compiled files
*.css
*.css.map
static.1/

# Development mode
development

# Logs

# Other
.DS_Store
static/favicon_original.png
