html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 90%;
  margin: 2rem auto;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: rgb(20, 20, 20);
  background-color: rgb(245, 245, 245);
}

$width: 400px;
.artwork {
  margin-top: 1rem;

  &::after {
    content: ' ';
    display: table;
    clear: both;
  }

  .container {
    margin: 0 -5px;
  }

  .item {
    float: left;
    padding: 5px;

    @media (max-width: $width * 1) {
      float: none;
      width: 100%;
    }
    @media (min-width: $width * 1 + 1) and (max-width: $width * 2) {
      width: (100% / 2);
    }
    @media (min-width: $width * 2 + 1) and (max-width: $width * 3) {
      width: (100% / 3);
    }
    @media (min-width: $width * 3 + 1) and (max-width: $width * 4) {
      width: (100% / 4);
    }
    @media (min-width: $width * 4 + 1) {
      width: (100% / 5);
    }

    img {
      display: block;
      width: 100%;
      filter: brightness(1.0);
    }

    &:hover img {
      filter: brightness(0.6);
    }

    img, &:hover img {
      transition: filter 0.2s ease-in-out;
    }
  }
}

.text {
  width: 60%;
  margin: 0 auto;

  &.empty {
    width: 100%;
  }

  a {
    color: rgb(0, 65, 140);

    &:hover {
      color:  rgb(0, 120, 255);
    }
  }

  img {
    width: 100%;
  }
}

nav {
  a {
    color: rgb(150, 150, 150);
    text-decoration: none;

    &:hover {
      color: black;
      text-decoration: underline;
    }
  }

  .selected a {
    color: black;
    font-size: 1.3rem;
  }

  .name a {
    color: black;
    font-weight: 700;
    font-size: 2.6rem;
  }
}

ul.horizontal {
  list-style: none;
  clear: both;
  margin: 0;
  padding: 0;

  &::after {
    content: ' ';
    display: table;
    clear: both;
  }

  li {
    font-size: 1rem;
    line-height: 2rem;
    float: left;
    margin: 0 2rem 0 0;
    position: relative;
  }
}

footer {
  clear: both;
  margin: 0 auto;
  padding-top: 2rem;
}
