html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 90%;
  margin: 2rem auto;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: rgb(20, 20, 20);
  background-color: rgb(245, 245, 245);
}

.artwork {
  width: 100%;

  .item {
    float: left;
    width: 20%;

    img {
      filter: brightness(1.0);
      width: 100%;
    }
    &:hover img {
      filter: brightness(0.6);
    }
    img, &:hover img {
      transition: filter 0.2s ease-in-out;
    }
  }
}

nav {
  a {
    color: rgb(150, 150, 150);
    text-decoration: none;

    &:hover {
      color: black;
      text-decoration: underline;
    }
  }

  ul {
    list-style: none;
    clear: both;
    margin: 0;
    padding: 0;
  }

  ul::after {
    content: ' ';
    display: table;
    clear: both;
  }

  li {
    float: left;
    margin: 0 2rem 0 0;
    position: relative;
  }
}
