<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load staticfiles %}

  <title>{% block title %}{{ config.TITLE }}{% endblock %}</title>
  <meta name="author" content="{{ config.NAME }}">
  <meta name="description" content="{% block description %}{{ config.DESCRIPTION }}{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block meta %}{% endblock %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,700">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'pita.css' %}">
  <link rel="shortcut icon" href="{% static 'favicon.png' %}">
  {% block style %}{% endblock %}
</head>

<body>
  <header>
    <nav>
      <ul class="horizontal">
        <li class="name"><a href="{% url 'index' %}">{{ config.NAME.upper }}</a></li>
      {% for page in pages %}
        {% if page.title == title %}<li class="selected">{% else %}<li>{% endif %}
        <a href="{{ page.get_absolute_url }}">{{ page.title.lower }}</a></li>
      {% endfor %}
        {% if title == config.CONTACT_TITLE %}<li class="selected">{% else %}<li>{% endif %}
        <a href="{% url 'contact' %}">contact</a></li>
      </ul>
    </nav>
  </header>

  {% block content %}{% endblock %}

  <footer>
    <ul class="horizontal">
      <li>&copy; {{ config.COPYRIGHT_YEARS }} {{ config.NAME }}</li>
      <li>{{ config.EMAIL_ADDRESS }}</li>
      <li><a href="{{ config.TERMS_OF_SERVICE_URL }}">[ToS]</a></li>
    </ul>
  </footer>
</body>
</html>
