{% load staticfiles %}

<section class="artwork">
{% if items %}
  <div class="container">
  {% for item in items %}
    <div class="item">
      <a href="{{ item.image.url }}" title="{{ item.summary }}">
        <img src="{{ item.image.url }}" alt="{{ item.summary }}" data-description="{{ item.description }}">
      </a>
    </div>
  {% endfor %}
  </div>
{% else %}
  <p><em>No artwork in this collection</em></p>
{% endif %}
</section>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script>
  let el = document.getElementsByClassName('container')[0];
  new imagesLoaded(el, function() {
    const masonry = new Masonry(el, {
      itemSelector: '.item',
      percentPosition: true,
    });
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/luminous-lightbox/1.0.1/Luminous.min.js"></script>
<script>
  const elements = document.querySelectorAll('.item a');
  const options = {
    caption: function(el) {
      return el.querySelector('img').dataset.description;
    }
  };

  const luminous = new LuminousGallery(elements, {}, options);
</script>
